@keyframes dou {
	0% {
		transform: rotate(0);
	}
	11% {
		transform: rotate(7.61deg);
	}
	23% {
		transform: rotate(-5.8deg);
	}
	36% {
		transform: rotate(3.35deg);
	}
	49% {
		transform: rotate(-1.9deg);
	}
	62% {
		transform: rotate(1.12deg);
	}
	75% {
		transform: rotate(-0.64deg);
	}
	88% {
		transform: rotate(0.37deg);
	}
	100% {
		transform: rotate(-0.28deg);
	}
}
