// customize
.scroller1 {
	overflow: auto;
	position: relative;
	z-index: 9;

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(144, 147, 153, 0.3);
		border-radius: 6px;
	}

	&::-webkit-scrollbar {
		height: 6px;
		width: 6px;
	}
}

// Element-plus
.el-input-number {
	.el-input-number__decrease,
	.el-input-number__increase {
		border: 0 !important;
		background-color: transparent;
	}
}

.el-dialog {
	&:not(.is-fullscreen) {
		--el-dialog-border-radius: 10px !important;
	}
}
