$color-main: #2f3447;
$color-danger: #f56c6c;
$color-primary: #4165d7;
$color-success: #67c23a;
$color-info: #909399;
$color-warning: #e6a23c;

@mixin text_ellipsis($line: 1) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
}
