$primary: #4165d7;

$color-primary: var(--color-primary, $primary);
$color-success: #67c23a;
$color-danger: #f56c6c;
$color-info: #909399;
$color-warning: #e6a23c;

:export {
	colorPrimary: $primary;
	colorSuccess: $color-success;
	colorDanger: $color-danger;
	colorInfo: $color-info;
	colorWarning: $color-warning;
}
